*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d2dbdd;
}
/* ::selection{
    background-color:yellow;
    color: darkolivegreen;
}
.heading_style{
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
    margin-bottom: 30px;
}
.cards{
    width:100%;
    height: auto;
}

.card{
    margin:6%;
    transition:all 0.4s cubic-bezier(0.175 ,0.085 , 0 ,1);
    background-color: #fff;
    width:21.25%;
    border-radius:12px;
    box-shadow : 0px 13px 10px -7px rgb(0, 0, 0,0.1);
    float:left;
} */

/* .card:hover{
    box-shadow: 0px 30px 16px -8px rgba(0,0,0,0.1);
    transform:scale(1.05,1.05);
}

.card_img{
    width:100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card_info{
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding :16px 24px 24px 24px;
    background-color: #fff;
} */

/* .card_category{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color:#868686;
    background-color: #fff;
} */

/* .card_title{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    text-transform: capitalize;
} */



.med{
    display: grid;
    place-items:center ;
    padding-top:275px;


}
button{
    padding : 20px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500 ;
    color: #fff;
    background-color: blueviolet;
    border: 2px solid black;
    cursor:text;
    border-radius: 12px;
}

h1{
    padding-bottom: 15px;
    font-size: 64px;
    
}