//1:operators
//2:variables
//3:nesting
//4:mixin & include

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rye", cursive;
}

$bg-color: #2980b9;

html {
  font-size: 62.5%;
}
// h1 {
//   color: #fff;
//   font-size: 5rem+5rem;
// }

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin common($part) {
  color: #fff;
  font-size: 5rem;
  letter-spacing: $part;
}

.main_header {
  height: 100vh;
  background-color: $bg-color;
  @include flex;

  h1 {
    @include common();
    &:hover {
      color: #3498db;
    }

    &::after {
      content: " Buddy";
    }
  }
  p {
    @include common();
    &:hover {
      color: #3498db;
    }
    &::after {
      content: " Buddy";
    }
  }
}

// p {
//   color: #fff;
//   font-size: 5rem+5rem;
// }
