*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d2dbdd;
}
/* ::selection{
    background-color:yellow;
    color: darkolivegreen;
}
.heading_style{
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
    margin-bottom: 30px;
}
.cards{
    width:100%;
    height: auto;
}

.card{
    margin:6%;
    transition:all 0.4s cubic-bezier(0.175 ,0.085 , 0 ,1);
    background-color: #fff;
    width:21.25%;
    border-radius:12px;
    box-shadow : 0px 13px 10px -7px rgb(0, 0, 0,0.1);
    float:left;
} */

/* .card:hover{
    box-shadow: 0px 30px 16px -8px rgba(0,0,0,0.1);
    transform:scale(1.05,1.05);
}

.card_img{
    width:100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card_info{
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding :16px 24px 24px 24px;
    background-color: #fff;
} */

/* .card_category{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color:#868686;
    background-color: #fff;
} */

/* .card_title{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    text-transform: capitalize;
} */

div{
    width: 100%;
    height: 100vh;
    background: #8e44ad;
    display: flex;
    flex-direction: column;
    place-items:center ;
    padding-top:150px;

}

.main_div{
    height :100vh;
    width:100%;
}


button{
    margin-top: 40px;
    line-height: 24px;
    padding : 20px 30px;
    text-transform: uppercase;
    color: #fff;
    background-color:#9b59b6;
    border: 2px solid #000;
    cursor:pointer;
    border-radius: 5px;
}

input{
    width: 50%;
    padding: 20px 30px;
    border: none;
    outline: none;
    margin: 20px 0;
    text-align: center;
}

h1{
    color: #fff;
    background: transparent;
    text-shadow: 0 2px 2px #000;    
}